body {
	width: 1000px;
	height: 1317px;
	background-color: #fff; /* For Show (Need to be removed) */

	margin: auto;
}

html {
	background-color: #C7C7C7; /* For Show (Need to be removed) */
}

* {
	margin: 0;
	padding: 0;
}

a,
h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 17px;
	line-height: 100%;
	text-decoration: none;
	color: #000;

	transition: all 0.3s ease-out;
}

a:hover {
	color: #004F84;
}

/* Fonts */

@font-face {
	font-family: SFProText-Bold;
	src: url(fonts/SFProText-Bold.ttf)
}

@font-face {
	font-family: SFProText-Regular;
	src: url(fonts/SFProText-Regular.ttf)
}

/* Background */

.background {
	width: 948px;
	height: 1140px;
	background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
	overflow: hidden;
	border-radius: 25px;

	margin: 13px 26px 64px;
}

/* Header */

.header__nav {
	display: flex;
	justify-content: space-between;

	margin: 28px 12px 0 65px;
}

.header__nav a {
	margin-left: 22px;
}

/* Main */

.main__text {
	margin-top: 83px;
}

.main__text h1 {
	font-family: 'SFProText-Bold';
	font-weight: 700;
	font-size: 120px;
	line-height: 90%;
	letter-spacing: -0.03em;

	margin-left: 54px;
}

.main__text p {
	font-family: 'SFProText-Regular';
	font-weight: 400;
	font-size: 35px;
	line-height: 110%;

	margin-left: 63px;
	margin-top: 34px;
}

.main__image {
	position: relative;
	width: 1326.36px;
	height: 1326.36px;
	transform: rotate(58.05deg);

	left: -450.37px;
	top: -66px;
}

/* Footer */

.footer__nav {
	display: flex;
	justify-content: space-between;

	margin: 126px 40px 34px 43px;
}

.footer__nav a {
	margin-left: 34px;
}