body {
	width: 1000px;
	height: 1317px;
	background-color: #fff; /* For Show (Need to be removed) */

	margin: auto;
}

html {
	background-color: #FFFFFF; /* For Show (Need to be removed) */
}

* {
	margin: 0;
	padding: 0;
}

a,
p {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	line-height: 100%;
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease-out;
}

a:hover {
	color: #004F84;
}

/* Fonts */

@font-face {
	font-family: SFProText-Bold;
	src: url(fonts/SFProText-Bold.ttf)
}

@font-face {
	font-family: SFProText-Regular;
	src: url(fonts/SFProText-Regular.ttf)
}

/* Background */

.background {
	width: 948px;
	height: 1140px;
	background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
	overflow: hidden;
	border-radius: 25px;
	margin: 13px 26px 64px;
}

/* Header */

.header__logo {
	font-size: 20px;
	padding-top: 1.5px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin: 28px 13px 0 65px;
}

.header__contacts {
	margin-left: 18px;
}

/* Main */

.main__text {
	margin-top: 96px;
	padding-left: 54px;
}

.main__text h1 {
	font-family: 'SFProText-Bold';
	font-weight: 700;
	font-size: 120px;
	line-height: 85%;
	letter-spacing: -0.02em;
	text-transform: capitalize;
}

.main__text p {
	font-family: 'SFProText-Regular';
	font-weight: 400;
	font-size: 35px;
	line-height: 110%;
	margin-left: 9px;
	margin-top: 43px;
}

.main__image {
	position: relative;
	width: 1326.36px;
	height: 1326.36px;
	transform: rotate(58.05deg);
	left: -451.37px;
	top: -67px;
}

/* Footer */

.footer__nav {
	display: flex;
	justify-content: space-between;
	margin: 126px 40px 34px 26px;
}

.footer__nav a, p {
	font-size: 17px;
}

.footer__contacts {
	margin-left: 30px;
}
